.container {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.Title {
  font-family: var(--alergia-black);
  font-size: 71px;
  line-height: 0.88;
  transform: translateY(-11px);
  white-space: nowrap;
}
.Subtitle {
  margin-top: 20px;
}

.Social {
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.Social li {
  display: inline-block;
}
.Social a {
  font-size: 10px;
  text-decoration: none;
  color: #000;
}
.Social li:not(:last-child) {
  margin-right: 10px;
}

.RegButton {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  font-family: var(--alergia-black);
  width: 157px;
  height: 45px;
  display: block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 30px;
  bottom: 25%;
  transform: translateY(50%);
}

.DownloadWrapper {
  position: absolute;
  bottom: calc(25% + 76px);
  right: 30px;
  transform: translateY(50%);
  width: 157px;
}
.Download {
  font-family: var(--alergia);
  text-decoration: none;
  color: #000;
  font-size: 10px;
  display: flex;
  align-items: center;
}
.Download span {
  margin-left: 10px;
}

@media (max-height: 420px) {
  .RegButton {
    top: 344px;
    transform: translateY(calc(-100% - 30px));
  }
  .Social {
    bottom: auto;
    left: auto;
    top: 30px;
    right: 30px;
  }
  .DownloadWrapper {
    top: 180px;
    bottom: auto;
  }
}

@media (max-width: 375px) {
  .Title {
    font-size: 63px;
  }
}

@media (max-width: 360px) {
  .Title {
    font-size: 60px;
  }
}
