.ArtLink {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ArtLink div {
  writing-mode: vertical-rl;
  padding-top: 4px;
  padding-left: 1px;
}
.ArtLink:hover div {
  color: #fff;
}

.LogoFill {
  fill: #000;
}
.ArtLink:hover .LogoFill {
  fill: #fff;
}
.ArtLink.ArtLinkDark:hover .LogoFill {
  fill: rgb(128, 128, 128);
}
