.Navigation {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 60px;
  z-index: 2;
}

.NavigationDark .NavigationItem:before {
  background-color: #000;
}
