.Container {
  width: 866px;
  margin: 0 auto;
  padding-top: 100px;
  font-family: var(--alergia);
}
.TitleWrapper {
  position: relative;
}
.TitleWrapper h2 {
  font-size: 30px;
  font-family: var(--alergia-black);
  height: 60px;
  line-height: 0.7;
}
.TitleWrapper a {
  font-family: var(--alergia-black);
  color: #808080;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
}
.TitleWrapper a:hover {
  color: #000;
}

.ScheduleItemContent {
  display: flex;
}
.ScheduleItemTitle {
  font-family: var(--alergia-black);
  margin-bottom: 10px;
}
.ScheduleItemTitleSlim {
  font-family: var(--alergia);
  margin-bottom: 0;
}
.ScheduleItemTitleHall {
  margin-bottom: 0;
}
.ScheduleItemSubTitle {
  font-family: var(--alergia-black);
}
.ScheduleItemSpeakers {
  white-space: nowrap;
}
