.BuyTicketButton {
  width: 174px;
  height: 45px;
  font-family: var(--alergia-black);
  font-size: 16px;
  font-weight: 900;
  background-color: #000;
  text-decoration: none;
  color: #fffefe;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-out;
  position: absolute;
  bottom: 25%;
  left: 30px;
  transform: translateY(50%);
  line-height: 40px;
}
.BuyTicketButton:hover {
  background-color: #fff;
  color: #000;
}
